      body{
        background-color: rgb(214, 214, 228);
      }
      .navbar{
        background-color: rgb(143, 143, 143);
      }
        .search{
            display: flex;
            margin-right: 100px;
        }
        .navbar-brand{
           font-size: 30px;
           font-weight: bold; 
        }
        a:hover{
          transform: scale(1.1);
        }

        .banner{
          width: 100%;
          height: 500px;
        }
        .learn{
          padding: 15px;
          border-radius: 15px;
          margin-left: 46%;
          font-size: 20px;
          color: white;
         background-color: rgb(52, 52, 124);
          position: relative;
          bottom: 270px;
        }
        .learn:hover{
          transition: transform 0.3s ease;
          background-color: rgb(14, 14, 75);
           transform: scale(1.05);

        }

        .services-container{
          display: flex;
          column-gap: 50px;
          margin-top: 50px;
        }

        .service-box1{
          border: 2px solid black;
          background-color: white;
          padding-left: 20px;
          padding-right: 0px;
          margin-left: 110px;
     margin-right: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
          border-radius: 20px;
        }
           .service-box1:hover{
          transition: transform 0.3s ease;
           transform: scale(1.05);
           box-shadow: 0 0 32px skyblue;
          }
         .service-box2{
          border: 2px solid black;
           background-color: white;
          padding-left: 20px;
          padding-right: 20px;
          margin-right: 50px;
           margin-left: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
           border-radius: 20px;
        }
         .service-box2:hover{
          transition: transform 0.3s ease;
           transform: scale(1.05);
           box-shadow: 0 0 32px skyblue;
          }
         .service-box3{
          border: 2px solid black;
           background-color: white;
          padding-left: 40px;
          padding-right: 40px;
          margin-right: 110px;
     margin-left: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
           border-radius: 20px;
        }
         .service-box3:hover{
          transition: transform 0.3s ease;
           transform: scale(1.05);
           box-shadow: 0 0 32px skyblue;
          }

          #thumbnails{
            margin-top: 50px;
            display: flex;
            column-gap: 10px;
            justify-content: center;
            align-items: center;
          }
          .thumbnail{
             border-radius: 10px;
            height: 100px;
            width: 200px;
          }
          #mainImage{
            border-radius: 10px;
            margin-top: 50px;
            height: 300px;
            width: 500px;
          }

           .icon{
        text-align: center;
         column-gap: 20px;
         height: 30px;
            display: flex;
            width: 30px;
            margin-left: 43%;
       }

       .para{
        text-align: center;
        margin-top: 60px;
        font-size: 20px;
       }

       footer{
        background-color: white;
       padding-top: 30px;
        padding-bottom: 50px;
        margin-top: 50px;
       }
