     body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top,#2ec4ff,#fff);
}
.box{
    width: 300px;
    background: linear-gradient(to bottom,#82ff2e,#fff);
    display: flex;
    border-radius: 2rem 0;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    
}
.box input{
    line-height: 3rem;
    text-align: center;
    border-radius: 3rem;
    font-size: large;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e66ff;
  padding: 10px 20px;
  height: 70px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.toggle-btn {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px;
}

.nav-links a {
  text-decoration: none;
  color: #ff852e;
  font-weight: 500;
  padding: 10px 0;
  margin-left: 20px;
}

.nav-links.show {
  display: flex;
}

main {
  position: relative;
  top: 70px;
  z-index: 0;
}

.hero-banner {
  background-image: url('img1.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
h2{
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  color: rgb(37, 97, 3);
}

        .services-container{
          display: flex;
          column-gap: 50px;
          margin-top: 50px;
        }

        .service-box1{
          border: 2px solid black;
          background-color: white;
          padding-left: 20px;
          padding-right: 0px;
          margin-left: 110px;
          margin-right: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
          border-radius: 20px;
        }
           .service-box1:hover{
          transition: transform 0.3s ease;
           transform: scale(1.05);
           box-shadow: 0 0 32px skyblue;
          }
         .service-box2{
          border: 2px solid black;
           background-color: white;
          padding-left: 20px;
          padding-right: 20px;
          margin-right: 50px;
           margin-left: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
           border-radius: 20px;
        }
         .service-box2:hover{
          transition: transform 0.3s ease;
           transform: scale(1.05);
           box-shadow: 0 0 32px skyblue;
          }
         .service-box3{
          border: 2px solid black;
           background-color: white;
          padding-left: 40px;
          padding-right: 40px;
          margin-right: 110px;
     margin-left: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
           border-radius: 20px;
        }
         .service-box3:hover{
          transition: transform 0.3s ease;
           transform: scale(1.05);
           box-shadow: 0 0 32px skyblue;
          }

          #thumbnails{
            margin-top: 50px;
            display: flex;
            column-gap: 10px;
            justify-content: center;
            align-items: center;
          }
          .thumbnail{
             border-radius: 10px;
            height: 100px;
            width: 200px;
          }
          #mainImage{
            border-radius: 10px;
            margin-top: 50px;
            height: 400px;
            width: 600px;
          }

        .icon{
          display: flex;
          justify-content: center;
          column-gap: 10px;
        margin-top: 10px;
        text-align: center;
        margin-left: 50%;
        height: 30px;
        width: 30px;
       }

       .para{
        text-align: center;
        margin-top: 60px;
        font-size: 20px;
       }

       footer{
        background-color: white(1, 32, 99);
       padding-top: 30px;
       padding-bottom: 50px;
        margin-top: 50px;
       }